In [1]:
import pyodbc
import json

# DSN means data source name
connection = pyodbc.connect('DSN=kubricksql')
cursor = connection.cursor()

cursor.execute('select Tweet from dbo.Friday1609')

rows = cursor.fetchall() # gets all the rows from the tweet column

tweet_list =[]

# This creates a list of dictionaries 
for r in rows:
    tweet_list.append(json.loads(r[0]))

In [6]:
# get pandas so that you can turn this into a data frame
from pandas import DataFrame, Series
import pandas as pd

friday_tweetTable = DataFrame(tweet_list)

In [8]:
# This tells you all the columns in the df
friday_tweetTable.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 31 columns):
contributors                 0 non-null object
coordinates                  0 non-null object
created_at                   50 non-null object
entities                     50 non-null object
extended_entities            5 non-null object
favorite_count               50 non-null int64
favorited                    50 non-null bool
filter_level                 50 non-null object
geo                          0 non-null object
id                           50 non-null int64
id_str                       50 non-null object
in_reply_to_screen_name      4 non-null object
in_reply_to_status_id        2 non-null float64
in_reply_to_status_id_str    2 non-null object
in_reply_to_user_id          4 non-null float64
in_reply_to_user_id_str      4 non-null object
is_quote_status              50 non-null bool
lang                         50 non-null object
place                        3 non-null object
possibly_sensitive           18 non-null object
quoted_status                6 non-null object
quoted_status_id             6 non-null float64
quoted_status_id_str         6 non-null object
retweet_count                50 non-null int64
retweeted                    50 non-null bool
retweeted_status             22 non-null object
source                       50 non-null object
text                         50 non-null object
timestamp_ms                 50 non-null object
truncated                    50 non-null bool
user                         50 non-null object
dtypes: bool(4), float64(3), int64(3), object(21)
memory usage: 10.8+ KB

In [11]:
# Inspecting the entities row
friday_tweetTable['entities'][0]

{u'hashtags': [],
 u'media': [{u'display_url': u'pic.twitter.com/d5cK48gQcU',
   u'expanded_url': u'https://twitter.com/JBiggsAFC/status/776692837299720192/photo/1',
   u'id': 776692802730196992L,
   u'id_str': u'776692802730196992',
   u'indices': [89, 112],
   u'media_url': u'http://pbs.twimg.com/media/Csdd_S5WAAAatl_.jpg',
   u'media_url_https': u'https://pbs.twimg.com/media/Csdd_S5WAAAatl_.jpg',
   u'sizes': {u'large': {u'h': 1920, u'resize': u'fit', u'w': 1080},
    u'medium': {u'h': 1200, u'resize': u'fit', u'w': 675},
    u'small': {u'h': 680, u'resize': u'fit', u'w': 383},
    u'thumb': {u'h': 150, u'resize': u'crop', u'w': 150}},
   u'type': u'photo',
   u'url': u'https://t.co/d5cK48gQcU'}],
 u'symbols': [],
 u'urls': [],
 u'user_mentions': []}

In [13]:
# NB: dropna() drops all the rows that contain null values
# just testing what dropna() does
a = friday_tweetTable.dropna()

In [38]:
friday_slimTweet = DataFrame(friday_tweetTable[['id','id_str', 'created_at', 'text', 'retweeted']])

In [40]:
friday_slimTweet.head(5)

,id,id_str,created_at,text,retweeted
0,776692837299720192,776692837299720192,Fri Sep 16 08:02:57 +0000 2016,Love thunder and lightning shame I missed it i...,False
1,776693518681137152,776693518681137152,Fri Sep 16 08:05:39 +0000 2016,Yep. 4:30am. Monsoon rain. Crazy fakin Lightni...,False
2,776695878149140480,776695878149140480,Fri Sep 16 08:15:02 +0000 2016,RT @JoshLachkovic: Thunderstorms this morning ...,False
3,776699880979005440,776699880979005440,Fri Sep 16 08:30:56 +0000 2016,RT @MrRoflWaffles: Absolutely insane storm her...,False
4,776700289185378304,776700289185378304,Fri Sep 16 08:32:33 +0000 2016,RT @Memz_Dogi: Thought ISIS were dropping an a...,False

In [54]:
type(friday_slimTweet['created_at'][0])

unicode

In [36]:
friday_tweetTable['text']

0     Love thunder and lightning shame I missed it i...
1     Yep. 4:30am. Monsoon rain. Crazy fakin Lightni...
2     RT @JoshLachkovic: Thunderstorms this morning ...
3     RT @MrRoflWaffles: Absolutely insane storm her...
4     RT @Memz_Dogi: Thought ISIS were dropping an a...
5     RT @Hmz_00: This thunder just woke the whole o...
6     Wtf I didn't hear anything  https://t.co/Uuori...
7     RT @velvetgh0st: OMG this thunder and lighteni...
8     RT @smokez_official: Ur lucky cos if u was in ...
9     RT @velvetgh0st: OMG this thunder and lighteni...
10    RT @magnetiser: ðŸ˜± I'd be impressed if anyone ...
11    To everyone back home... This is what came aft...
12    @NewHopeGeorge @NewHopeBlake @NewHopeReece Did...
13    RT @Hmz_00: This thunder just woke the whole o...
14    When #Transformers5 wrapped up filmling in Ari...
15    Oh gosh has London had some rain thunder light...
16    Apparently it's rain and thunder in London whi...
17    Waiting for the longest storm ever to end ! \n...
18    â›ˆâ›ˆâ›ˆ OMG London!!! You have a week to sort this...
19    The thunder and lightning woke us up very earl...
20    Bit of rain and a couple of rumbles of thunder...
21    Was there a big thunder/lightening storm over ...
22    Enjoyed yesterdays #thunderstorms in London wi...
23    The thunder last night shook me down to my Net...
24    It's raining... it's pouring #rain #london #um...
25    RT @velvetgh0st: OMG this thunder and lighteni...
26    Scariest night of my life ohmy ðŸ˜­ðŸ˜­ https://t....
27    RT @velvetgh0st: OMG this thunder and lighteni...
28    RT @raginnation: When #Transformers5 wrapped u...
29    RT @benjamin_cook: I guess all my London frien...
30    RT @velvetgh0st: OMG this thunder and lighteni...
31    RT @velvetgh0st: OMG this thunder and lighteni...
32                Safe sailing! https://t.co/FTk8hSgLG7
33    RT @MrRoflWaffles: Absolutely insane storm her...
34    RT @JoshLachkovic: Thunderstorms this morning ...
35    RT @MrRoflWaffles: Absolutely insane storm her...
36    RT @raginnation: When #Transformers5 wrapped u...
37    RT @dearanaaa: I knew I heard thunder + rain t...
38    RT @MrRoflWaffles: Absolutely insane storm her...
39    RT @Memz_Dogi: Thought ISIS were dropping an a...
40    London thunder woke me, so checked #iremember ...
41    @Joe_Sugg I loved it joe!! Also did you hear t...
42    I knew I heard thunder + rain this morning. Yo...
43    Anyone in London hear that Thunder last night?...
44    All my friends from west London are tweeting a...
45    @fudgecrumpet in SW London it's just a bit of ...
46    Welcome to London, where on the Thursday it'll...
47    On @OANHSS medical assist/ in dying teaching t...
48    All learned from each other during London sess...
49    @Joe_Sugg was there thunder at 5am in London l...
Name: text, dtype: object